@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss/theme";



@custom-variant dark (&:is(.dark *));


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}


.project-image{
  opacity: 0.3;
}

.project-image:hover{
  opacity: 1;
}

.bgColor{
  background: #00D1FF;
}

.primary{
  color: #00D1FF
}

.secondary{
  color: #002B36
}

.tertiary{
  color: #7DF9FF;
}

.neutral{
  background: #002B36;
}

.contact {
  background: #192540;
}
.main{
  background: #0F172A;
}

.gray{
  background: #1c2025
}

.black{
  background: #000000;
}
:root {
  --background: #0F172A;
  --foreground:rgb(243, 244, 247);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

.card {
  --start: 0;
  position: relative;
  z-index: 40;
  overflow: hidden;
  transition: border-color 1s ease-in-out;
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: 2px solid transparent;
  background: var(--gradient);
  background-attachment: fixed;
  mask: linear-gradient(#0000, #0000),
  conic-gradient(
          from calc((var(--start) - 15) * 1deg),
          #ffffff1f 0deg,
          white,
          #ffffff00 100deg
  );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}

.glow {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  filter: saturate(200);
}

.card:hover::before {
  opacity: 1;
}


.timeline-wrapper {
  @apply absolute top-0 xl:left-[35.5vw] md:left-10 left-5 h-full flex justify-center;
}

.timeline {
  @apply absolute z-30 h-[110%] -top-10  bg-black;
}

.gradient-line {
  width: 2px;
  background: linear-gradient(
          0deg,
          rgba(69, 222, 196, 0) 0%,
          #62e0ff 25%,
          #52aeff 37.51%,
          #fd5c79 62.83%,
          #6d45ce 92.91%
  );
}


.timelin-ringer{
  @apply  w-8 h-8 rounded-full mt-2 relative
}


.ecosys {
  @apply flex justify-center sm:justify-start sm:text-[28px] text-center sm:text-start text-[18px]
}

.techy{
  @apply text-[10px] justify-center sm:justify-start w-full ;
}

.skilly{
  @apply text-[10px] text-gray-300 sm:w-100 font-light sm:text-right text-center w-full px-2 sm:px-2 mt-2 sm:mt-0;
}

.hero-button{
  @apply flex w-full justify-between sm:hidden
}

.hero-text{
  @apply leading-6 text-[10px] sm:text-xs text-center sm:text-start
}

.hero-cards{
  @apply bg-gray-800 flex-wrap w-auto cursor-pointer h-12 flex-row rounded-md items-center flex gap-2 px-1 transform transition ease-in-out duration-500 hover:scale-110 z-20 hover:translate-y-1
}

.hero-card-text{
  @apply lg:text-xs text-gray-500 sm:text-[10px]
}

.hero-text-2{
  @apply lg:text-[60px] md:text-[50px] text-[40px] sm:text-[30px] font-bold hidden sm:block
}
.hero-button-2{
  @apply bg-transparent border border-[#00D1FF] p-2 flex items-center justify-center rounded-md text-xs text-[#00D1FF]
}

.skills-div{
  @apply sm:mt-12 mt-4 w-full flex flex-col mb-16
}

.skills-card{
  @apply flex flex-row gap-4 flex-wrap text-xs items-center justify-center
}

.skills-card-card{
  @apply rounded-lg bg-gray-800 w-80 sm:w-62 h-38 px-4 mt-4
}

.project{
  @apply rounded-lg  bg-gray-800 relative h-full
}

.project-render{
  @apply grid  grid-cols-3  items-stretch  justify-center   sm:justify-start   w-full  gap-2  mb-6
}

.project-grid{
  @apply sm:grid flex flex-col sm:grid-cols-3 [grid-auto-rows:1fr] sm:items-stretch
}

.project-text{
  @apply z-10 right-5 sm:p-4 absolute bottom-30 sm:left-10 left-0
}

.project-cap{
  @apply px-2 py-1 bg-gray-700 text-gray-200 rounded-sm md:text-xs text-[10px] font-bold
}

.foundation{
  @apply grid grid-cols-1 sm:grid-cols-2
}

.publishing{
  @apply grid grid-cols-1 sm:grid-cols-[1fr_2fr] gap-4 mt-4
}

.fontStyle{
  @apply text-[10px] sm:text-xs h-8 bg-black p-2 items-center justify-center gap-2 rounded-md flex flex-row
}

.contact{
  @apply grid grid-cols-1 sm:grid-cols-[1fr_2fr]
}

.bottom-footer{
  @apply border-t border-gray-600
}

.manager{
  @apply bg-black sm:mt-2 mt-1 lg:w-150 md:w-72 sm:w-72 w-72 px-2 p-2 text-xs h-32 rounded-md
}
.contact-button{
  @apply lg:w-150 md:w-72 sm:w-72 w-72 p-2 rounded-md cursor-pointer text-black bg-[#00D1FF]
}

.contact-input{
  @apply h-10 sm:w-32 md:w-32 lg:w-72 w-72 p-4 rounded-md bg-black px-3 text-sm mt-1
}


.experience-text {
  @apply list-disc space-y-1 px-6 text-[10px] sm:text-xs
}